{% load static %}
<!DOCTYPE html>
<head>
    <title>Home</title>
    <link href="/assets/home.css?body=1" media="all" rel="stylesheet" type="text/css">
    <meta content="authenticity_token" name="csrf-param">
  <meta content="GPp4Goi+5B3VzdmcpWp1jhopedam13uPSwJglXIvyO8=" name="csrf-token">
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top:100px;">
        <div class="col-sm-4 resque">
          <div>
            <a href="{% url 'blog:index'%}">Elvira's blog</a>
          </div>
        </div>
        <div class="col-sm-4 sanction">
          <div>
            <a href="#">YH's tech web</a>
          </div>
        </div>
        <div class="col-sm-4 education">
          <div>
            <a href="#">Crawler monitor</a>
          </div>
        </div>
        <div class="col-sm-4 sync_prep_check">
          <div>
            <a href="#">Unkonwn</a>
          </div>
        </div>
      </div>
    </div>
  
  
  </body></html>
