{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Serendipity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "blog/img/favicon.ico" %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "blog/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/progressbar_barfiller.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/gijgo.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/animated-headline.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "blog/css/style.css" %}">

</head>
